<div class="main-profile">
  <div class="email">
    <div class="email__text">
      Username
    </div>
    <input type="text" class="input-border profile-input" ng-model="username"style="width: 250px;"> </input>
  </div>
  <div class="username">
    <div class="username__text">
      Password
    </div>
    <input type="password" class="input-border profile-input"  ng-model="password"style="width: 250px;"> </input>
  </div>
  <div class="main-profile__image" ng-click="login()">
    <div class="main-profile__update" style="margin-top: 5px; margin-left:135px">Log in</div>
  </div>
</div>
